{% extends 'base.html' %}

{% block content %}

<div class="bogo-wallet-container">
    <div class="wrapper-container">
        <h2> Perfil</h2>
    </div>
    <div class="container">
        <div class="table-container">
            <div>
                <form class="needs-validation" method="POST">
                  {% csrf_token %}
                  <div class="row g-3">
        
                    <div class="col-12">
                      <label for="first_name" class="form-label">Nome</label>
                      <div class="input-group has-validation">
                        <input name="first_name" type="text" class="form-control" id="first_name" placeholder="Primeiro Nome" value="{{ user_profile.first_name }}" required>
                      </div>
                    </div>

                    <div class="col-12">
                        <label for="last_name" class="form-label">Sobrenome</label>
                        <div class="input-group has-validation">
                          <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Primeiro Sobrenome" value="{{ user_profile.last_name }}" required>
                        </div>
                    </div>
        
                    <div class="col-12 mb-3">
                      <label for="email" class="form-label">E-mail</label>
                      <input name="email" type="email" class="form-control" id="email" placeholder="nome@exemplo.com" value="{{ user_profile.email }}">
                    </div>
        
                  <button class="w-100 btn btn-primary btn-lg" type="submit">Atualizar</button>
                </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}