{% extends 'base.html' %}

{% block content %}

<div class="bogo-wallet-container">
  <div class="wrapper-container">
    {% if transaction %}
    <h2> Atualizar Transação</h2>
    <button class="add-wallet btn btn-danger">
      <a class="btn btn-danger" href="{% url 'delete_transaction' transaction.id %}">Deletar Transação</a>
    </button>
    {% else %}
    <h2> Adicionar Transação</h2>
    {% endif %}
  </div>
  <div class="container">
    <div class="table-container">
      <div>
        <form class="needs-validation" method="POST">
          {% csrf_token %}
          <div class="row g-3">

            <div class="col-12">
              <label for="name" class="form-label">Nome</label>
              <div class="input-group has-validation">
                <input name="name" type="text" class="form-control" id="name" placeholder="Nome da Transação" required
                  value="{% if transaction.name %}{{ transaction.name }}{% endif %}">
              </div>
            </div>

            <div class="col-12 mb-3">
              <label for="description" class="form-label">Valor</label>
              <input name="value" type="number" class="form-control" required id="value"
                placeholder="Valor"
                value="{% if value %}{{ value }}{% endif %}">
            </div>

            <h5>Recorrente</h5>
            <div class="my-3">
              <div class="form-check">
                <input value="1" id="recurring" name="recurring" type="radio" class="form-check-input" {% if transaction.recurring %} checked {% endif %}>
                <label class="form-check-label" for="recurring">Recorrente</label>
              </div>

              <div class="form-check">
                <input value="0" id="not-recurring" name="recurring" type="radio" class="form-check-input" {% if not transaction.recurring %} checked {% endif %}>
                <label class="form-check-label" for="recurring">Não Recorrente</label>
              </div>
            </div>

            <div class="col-12">
              <label for="date" class="form-label">Data</label>
              <div class="input-group has-validation">
                <input name="date" type="date" class="form-control" id="date" required
                  value="{% if date %}{{ date }}{% endif %}">
              </div>
            </div>

            <div style="display: flex; justify-content: space-between;">
              <div class="col-lg-5">
                <label for="wallet" class="form-label">Carteira</label>
                <select name="wallet" class="form-select" id="wallet" required>
                  <option value="0" disabled selected>Selecione...</option>
                  {% for wallet in wallets %}
                  {% if wallet.id == transaction.wallet_id.id}
                    <option value="{{ wallet.id }}" {% if wallet.id == transaction.wallet_id.id %} selected {% endif %}>{{ wallet.name }}</option>
                  {% endfor %}
                </select>
              </div>
              
              {% if type == "revenue" %}
              <div class="col-lg-5">
                <label for="category" class="form-label">Categoria</label>
                <select name="category" class="form-select" id="category" required>
                  <option value="0" disabled selected>Selecione...</option>
                  {% for category in revenue_categorys %}
                  <option value="{{ category.id }}" {% if category.id == transaction.category_id.id %} selected {% endif %}>{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}

              {% if type == "expense" %}
              <div class="col-lg-5">
                <label for="category" class="form-label">Categoria</label>
                <select name="category" class="form-select" id="category" required>
                  <option value="0" disabled selected>Selecione...</option>
                  {% for category in expense_categorys %}
                  <option value="{{ category.id }}" {% if category.id == transaction.category_id.id %} selected {% endif %}>{{ category.name }}</option>
                  {% endfor %}
                </select>
              </div>
              {% endif %}

            </div>

            {% if type == "revenue" %}
            <input type="hidden" value="{{ type }}" name="type">
            {% endif %}

            {% if type == "expense" %}
            <input type="hidden" value="{{ type }}" name="type">
            {% endif %}

            {% if transaction %}
            <button class="w-100 btn btn-primary btn-lg" type="submit">Atualizar</button>
            {% else %}
            <button class="w-100 btn btn-primary btn-lg" type="submit">Adicionar</button>
            {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}