{% extends 'base.html' %}

{% block content %}

<div class="bogo-wallet-container">
    <div class="wrapper-container">
        <h2> Adicionar Categoria</h2>
    </div>
    <div class="container">
        <div class="table-container">
            <div>
                <form class="needs-validation" method="POST">
                  {% csrf_token %}
                  <div class="row g-3">
        
                    <div class="col-12">
                      <label for="username" class="form-label">Nome</label>
                      <div class="input-group has-validation">
                        <input type="text" class="form-control" id="name" placeholder="Nome Carteira" required>
                      </div>
                    </div>
        
                    <div class="col-12 mb-3">
                      <label for="description" class="form-label">Descrição <span class="text-body-secondary">(Optional)</span></label>
                      <input type="text" class="form-control" id="description" placeholder="Descrição da certeira">
                    </div>
                    
                    <h4>Essencial</h4>
                    <div class="my-3">
                        <div class="form-check">
                          <input id="essential" name="essential" type="radio" class="form-check-input" checked required>
                          <label class="form-check-label" for="credit">Essencial</label>
                        </div>
                        <div class="form-check">
                          <input id="not-essential" name="essential" type="radio" class="form-check-input" required>
                          <label class="form-check-label" for="debit">Não essencial</label>
                        </div>
                    </div>
        
                  <button class="w-100 btn btn-primary btn-lg" type="submit">Criar</button>
                </form>
              </div>
        </div>
    </div>
</div>

{% endblock %}