{% extends 'base.html' %}

{% block content %}

<div class="bogo-wallet-container">
  <div class="wrapper-container">
    <h2>Transações</h2>
    <button class="add-wallet btn btn-primary">
      <a class="btn btn-primary" href="{% url 'add_transaction' 'expense' %}">Adicionar Despesa</a>
    </button>
    <button class="add-wallet btn btn-primary">
      <a class="btn btn-primary" href="{% url 'add_transaction' 'revenue' %}">Adicionar Receita</a>
    </button>
  </div>
  <div class="container">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Recorrente</th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Carteira</th>
            <th>Tipo</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for revenue in revenues %}
          <tr>
            <td>{{ revenue.name }}</td>
            <td>{{ revenue.value }}</td>
            <td>{{ revenue.recurring }}</td>
            <td>{{ revenue.date }}</td>
            <td>{{ revenue.category_id.name }}</td>
            <td>{{ revenue.wallet_id.name }}</td>
            <td>Receita</td>
            <td>
              <button class="add-wallet btn btn-success btn-sm">
                <a class="btn btn-success btn-sm" href="{% url 'transaction' 'revenue' revenue.id %}">Editar</a>
              </button>
            </td>
          </tr>
          {% endfor %}
          {% for expense in expenses %}
          <tr>
            <td>{{ expense.name }}</td>
            <td>{{ expense.value }}</td>
            <td>{{ expense.recurring }}</td>
            <td>{{ expense.date }}</td>
            <td>{{ expense.category_id.name }}</td>
            <td>{{ expense.wallet_id.name }}</td>
            <td>Gasto</td>
            <td>
              <button class="add-wallet btn btn-success btn-sm">
                <a class="btn btn-success btn-sm" href="{% url 'transaction' 'expense' expense.id %}">Editar</a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}